.danger {
    color: red
}

.primary {
    color: blue
}

.warning {
    color: orange
}

.PipesFilters {
    display: flex;
}

.Filters {
    margin: 10px 0 0 50px;
}

table {
    background-color: silver;
    margin: 20px 0;
}

tr:nth-child(odd) {
    background-color: white;
}

td {
    min-width: 200px;
    text-align: center;
}