<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body ng-init="myname='Jerry';toggler=false;fontColor={red: 'danger',blue: 'primary',orange:'warning'}">
    <!--initialized varibles with default values using ng-init-->

    Name: <input type="text" ng-model="myname">
    <!--using ng-model to bind 2 ways for value of checkbox-->
    <div ng-hide="toggler" ng-cloak ng-class="fontColor.orange">
        <!--ng-cloak set display of container to hidden until the entire angularjs is loaded up and curly braces are understood by browers as how to render rather than just displaying sqigly braces for a flicker-->
        Your Input : {{myname}}
    </div>
    <div ng-show="toggler" ng-class="fontColor.red"> Click Checkbox to view </div>
    <div>
        Check to Hide: <input type="checkbox" name="showOrHide" id="showOrHide" ng-model="toggler">
        <!--using ng-model to bind 2 ways for value of checkbox-->
    </div>
    <button ng-click="myname='Rohit'">Change name  to Rohit </button>
    <div>
        <span>alternate way to display dynamic data in addition to ng-model is ng-bind : </span><strong ng-bind="myname"></strong>
        <!--space inside tags gets replaced by value ng-bind is binded to-->
    </div>
    <div>
        <!--ng-switch-->
        <p ng-class="fontColor.blue">Show one of many sentences: (enter a/b/c) </p><input type="text" ng-model="switchings">
        <div ng-switch on="switchings">
            <p ng-switch-default><big>Please Sign-up</big></p>
            <p ng-switch-when="a"><strong>You are not Logged in</strong></p>
            <p ng-switch-when="b" t><i>You are Logged in</i></p>
            <p ng-switch-when="c"><big>You are Logged out</big></p>
        </div>
    </div>

    <div>
        <p>ng-repeat over an font colors object</p>
        <ul>
            <!--ng-repeat -->
            <li ng-repeat="color in fontColor">{{color}}</li>
        </ul>
    </div>

    <div>
        <p>Using Pipes & Filters</p>


        <!--Object of Objects-->
        <div class="PipesFilters">
            <table ng-init="StudentObj={here:{name:'ana',dept: 'CSE'},there:{name:'bana',dept: 'CSE'},the:{name:'cana',dept: 'CSE'}} ">
                <caption> Object of Objects </caption>
                <tr>
                    <th>Name</th>
                    <th>Dept</th>
                </tr>
                <tr ng-repeat="student in StudentObj ">
                    <!--Sticking to for in loop is recommended-->
                    <td>{{student.name}}</td>
                    <td>{{student.dept}}</td>
                </tr>
            </table>

            <div class="Filters">
                <p>Filter must be used with an array </p>
                <input type="text" ng-model="filterA" disabled>
                <!--Filter must be used with an array -->
            </div>
        </div>



        <!--Array of Objects-->
        <div class="PipesFilters">
            <table ng-init="StudentAO=[{name:'ana1',dept: 'IT'},{name:'bana2',dept: 'ECE'},{name:'cana',dept: 'CSE'}] ">

                <caption>Array of Objects </caption>
                <tr style="cursor: pointer;">
                    <th ng-click="considerMe='name'; reverse=!reverse">Name <sub><small>(Click to order)</small></sub></th>
                    <th ng-click="considerMe='dept'; reverse=!reverse">Dept <sub><small>(Click to order)</small></sub></th>
                </tr>
                <!--ng-click detects the column clicked and evaluates the expression within. the orderBy pipe knows the values of variable 'considerMe' & 'reverse' . The reverse param acts as toggler for ASC/DESC sorting-->
                <tr ng-repeat="student in StudentAO | filter:{name: filterB} | orderBy:considerMe:reverse">
                    <!--Sticking to for in loop is recommended-->
                    <td>{{student.name}}</td>
                    <td>{{student.dept}}</td>
                </tr>
            </table>
            <div class="Filters">
                <p>Filter this table on name: </p>
                <input type="text" ng-model="filterB">
            </div>
        </div>



        <!--Array of arrays-->
        <div class="PipesFilters">
            <table ng-init="StudentArr=[['ame','dept',20.00, '2021-01-10'],['bme2','dept2',210.00, '2021-11-10'],['cme2','dept3',300.10, '1999-01-10']]">
                <caption>Array of arrays </caption>
                <tr>
                    <th>Name</th>
                    <th>Dept</th>
                    <th>Money</th>
                    <th>Date </th>
                </tr>
                <tr ng-repeat="student in StudentArr | filter: filterC ">
                    <!--Sticking to for in loop is recommended-->
                    <td>{{student[0] | lowercase }}</td>
                    <td>{{student[1] | uppercase}}</td>
                    <td>{{student[2] | currency:'Rs '}}</td>
                    <td>{{student[3] | date}}</td>
                </tr>
            </table>
            <div class="Filters ">
                <p>Filter this Entire table </p>
                <input type="text " ng-model="filterC ">
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js "></script>
</body>

</html>